@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(50% 50% at 50% 50%, rgba(73, 157, 255, 0.57) 0%, rgba(1, 2, 3, 0.995521) 99.99%, #000000 100%);
  background-repeat:no-repeat;
  background-size: 1370px 700px;
  color: white;
  line-height: 1.6;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
